body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.navbar-inverse {
    background-color: #072F5F;
    height: 60px;
}

    .navbar-inverse .navbar-brand {
        color: #F2F2F2;
    }
    .navbar-inverse .navbar-nav li a {
        color: #F2F2F2;
        font-size: 1.5em;
    }

    .navbar-inverse .navbar-nav li {
        background-color: #072F5F;
        margin-right:.5em;
    }

    .navbar-inverse .navbar-nav li a:hover {
        font-size: 1.10em;
        -webkit-box-shadow: 0px 2px 19px 7px rgba(0,0,0,0.75) !important;
        -moz-box-shadow: 0px 2px 19px 7px rgba(0,0,0,0.75) !important;
        box-shadow: 0px 2px 19px 7px rgba(0,0,0,0.75) !important;
    }

.page-footer {
    color: #F2F2F2;
    background-color: #072F5F;
    width: 100%;
    height: 70px;
    text-align: center;
    position: fixed;
    bottom: 0;
}

    .page-footer h4 {
        padding-top: 1em;
        padding-bottom: 1em;
    }

#indexMain {
    background-image: url("/Content/imgs/LMSlogo2.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    max-height: 100%;
    max-width: 100%;
    
}

@media only screen and (max-width: 600px) {
    #indexMain {
        background-image: url("/Content/imgs/LMSlogo2.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        max-height: 100%;
        max-width: 100%;
    }
    #bannerContent h2 {
        font-size: 2em;
    }

    #bannerContent h4 {
        font-size: 1em;
    }
}

#bannerContent h2 {
    font-size: 4em;
}

#bannerContent h4 {
    font-size:2em;
}
#bannerContent {
    margin-top:20vh;
}
#IndexCenterSection {
    background-color: #6075DE;
    border-top: solid;
}

.IndexPics {
    width:auto;
    height:5em;
    max-height:100%;
    max-width:100%;
}
#IndexPicsContainer {
    padding-top: 2em;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:3em;
}

    #IndexPicsContainer figcaption {
        font-size:1.5em;
    }
body {
    padding-bottom:0;
}

.dropdown-menu {
    background-color: #072F5F;
}

.dropdown-item:hover {
    font-size: 2em;
    margin: 1em;
}

#testDropdown:hover {
    font-size: 1.5em !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    text-decoration: none !important;
}
#testDropdown2:hover {
    font-size: 1.5em !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    text-decoration: none !important;
}

#courseDetailContainer {
    background-image: url("/Content/imgs/invest-1714373_960_720.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    max-height: 100%;
    max-width: 100%;
    height:80vh;
    
}
#courseDetailContainerTopDiv {
    background-color: #E5E5E5;
    padding-bottom:2em;
}

#DetailsContantContainer {

}
