@{
    ViewBag.Title = "Home Page";
}

<div class="container" style="width: 100%; height:70vh" id="indexMain">
    @*<div class="col-md-12"></div>*@
    <div class="col-md-4 col-md-offset-3" id="bannerContent">
        <h2>Invest in real assets</h2>
        <h4>A secure tomorrow starts today</h4>
        <a href="@Url.Action("Index","Cours")" class="btn btn-success" style="color:black;">Explore Our Courses</a>
    </div>

</div>

<div class="container-fluid" id="IndexCenterSection">
    <div class="row" id="IndexPicsContainer">
        <div class="col-md-4">
            <img src="~/Content/imgs/iris-increase-productivy-icon-ca.png" alt="Alternate Text" class="IndexPics" />
            <figcaption>
                <span><strong>Learn the importance of investing. The money generated from your investments can provide financial security and income.</strong></span>
            </figcaption>
        </div>
        <div class="col-md-4">
            <img src="~/Content/imgs/88-512.png" alt="Alternate Text" class="IndexPics" />
            <figcaption>
                <span><strong>Discover investing in precious metals. Although the price of gold can be volatile in the short term, it has always maintained its value over the long term.</strong></span>
            </figcaption>
        </div>
        <div class="col-md-4">
            <img src="~/Content/imgs/268736_preview.png" alt="Alternate Text" class="IndexPics" />
            <figcaption>
                <span><strong>Calculate your investments and grow your wealth. Managing your investments is as important as acquiring them.</strong></span>
            </figcaption>
        </div>

    </div>
</div>
@section scripts {

}