
@{
    ViewBag.Title = "ValueTracker";
}

<div class="container-fluid" style="margin-top:1em; width:100%; margin-left:0;margin-right:0;padding-left:0; padding-right:0; margin-bottom:2.5em; ">

    <div class="row" style="margin:0;">
        <div class="col-md-12" style="padding:0;">
            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container">
                <div class="tradingview-widget-container__widget"></div>
                <div class="tradingview-widget-copyright">
                    <a href="https://www.tradingview.com" rel="noopener" target="_blank"></a>
                </div>

            </div> <!-- TradingView Widget END -->
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
                {
                    "symbols": [
                        {
                            "proName": "FOREXCOM:SPXUSD",
                            "title": "S&P 500"
                        },
                        {
                            "proName": "FOREXCOM:NSXUSD",
                            "title": "Nasdaq 100"
                        },
                        {
                            "proName": "FX_IDC:EURUSD",
                            "title": "EUR/USD"
                        },
                        {
                            "proName": "BITSTAMP:BTCUSD",
                            "title": "BTC/USD"
                        },
                        {
                            "proName": "BITSTAMP:ETHUSD",
                            "title": "ETH/USD"
                        }
                    ],
                        "colorTheme": "light",
                            "isTransparent": false,
                                "displayMode": "adaptive",
                                    "locale": "en"
                }
            </script>
        </div><!--end col-md-12-->
    </div><!--End Row-->
    <h1 style="text-align:center;">Global Market Live Summary</h1>
    <div class="row" style="margin:0;">
        <div class="col-md-6" style="height:495px;">
            <!--padding-right:2em;-->
            <div class="tradingview-widget-container">
                <div class="tradingview-widget-container__widget"></div>
                <div class="tradingview-widget-copyright"></div>
                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-quotes.js" async>
                    {
                        "width": "100%",
                            "height": "100%",
                                "symbolsGroups": [
                                    {
                                        "name": "Indices",
                                        "originalName": "Indices",
                                        "symbols": [
                                            {
                                                "name": "FOREXCOM:SPXUSD",
                                                "displayName": "S&P 500"
                                            },
                                            {
                                                "name": "FOREXCOM:NSXUSD",
                                                "displayName": "Nasdaq 100"
                                            },
                                            {
                                                "name": "FOREXCOM:DJI",
                                                "displayName": "Dow 30"
                                            },
                                            {
                                                "name": "INDEX:NKY",
                                                "displayName": "Nikkei 225"
                                            },
                                            {
                                                "name": "INDEX:DEU30",
                                                "displayName": "DAX Index"
                                            },
                                            {
                                                "name": "FOREXCOM:UKXGBP",
                                                "displayName": "FTSE 100"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "Commodities",
                                        "originalName": "Commodities",
                                        "symbols": [
                                            {
                                                "name": "CME_MINI:ES1!",
                                                "displayName": "E-Mini S&P"
                                            },
                                            {
                                                "name": "CME:6E1!",
                                                "displayName": "Euro"
                                            },
                                            {
                                                "name": "COMEX:GC1!",
                                                "displayName": "Gold"
                                            },
                                            {
                                                "name": "NYMEX:CL1!",
                                                "displayName": "Crude Oil"
                                            },
                                            {
                                                "name": "NYMEX:NG1!",
                                                "displayName": "Natural Gas"
                                            },
                                            {
                                                "name": "CBOT:ZC1!",
                                                "displayName": "Corn"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "Bonds",
                                        "originalName": "Bonds",
                                        "symbols": [
                                            {
                                                "name": "CME:GE1!",
                                                "displayName": "Eurodollar"
                                            },
                                            {
                                                "name": "CBOT:ZB1!",
                                                "displayName": "T-Bond"
                                            },
                                            {
                                                "name": "CBOT:UB1!",
                                                "displayName": "Ultra T-Bond"
                                            },
                                            {
                                                "name": "EUREX:FGBL1!",
                                                "displayName": "Euro Bund"
                                            },
                                            {
                                                "name": "EUREX:FBTP1!",
                                                "displayName": "Euro BTP"
                                            },
                                            {
                                                "name": "EUREX:FGBM1!",
                                                "displayName": "Euro BOBL"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "Forex",
                                        "originalName": "Forex",
                                        "symbols": [
                                            {
                                                "name": "FX:EURUSD"
                                            },
                                            {
                                                "name": "FX:GBPUSD"
                                            },
                                            {
                                                "name": "FX:USDJPY"
                                            },
                                            {
                                                "name": "FX:USDCHF"
                                            },
                                            {
                                                "name": "FX:AUDUSD"
                                            },
                                            {
                                                "name": "FX:USDCAD"
                                            }
                                        ]
                                    }
                                ],
                                    "colorTheme": "light",
                                        "isTransparent": false,
                                            "locale": "en"
                    }
                </script>
            </div>
        </div>
        <div class="col-md-6">
            <!--padding-left:2em;-->
            <div id="goldmoney-market-summary" style="max-height:100%; max-width:100%;"></div>
            <script src="https://market-summary.goldmoney.com/xau.js?v=1495048506188"></script>
        </div>
    </div><!--end row-->
    <hr style="margin-bottom:4em;" />
    <h2 style="text-align:center; margin-bottom:1em;">Cryptocurrency Market Standings</h2>

    <div class="row" style="margin:0;">
        <div class="col-md-4">
            <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script><div class="coinmarketcap-currency-widget" data-currencyid="1" data-base="USD" data-secondary="" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-statsticker="true" data-stats="USD"></div>
        </div>
        <div class="col-md-4">
            <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script><div class="coinmarketcap-currency-widget" data-currencyid="1027" data-base="USD" data-secondary="" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-statsticker="true" data-stats="USD"></div>
        </div>
        <div class="col-md-4">
            <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script><div class="coinmarketcap-currency-widget" data-currencyid="52" data-base="USD" data-secondary="" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-statsticker="true" data-stats="USD"></div>
        </div>
    </div>
    <div class="row" style="margin:0;">
        <div class="col-md-4">
            <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script><div class="coinmarketcap-currency-widget" data-currencyid="825" data-base="USD" data-secondary="" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-statsticker="true" data-stats="USD"></div>
        </div>
        <div class="col-md-4">
            <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script><div class="coinmarketcap-currency-widget" data-currencyid="2" data-base="USD" data-secondary="" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-statsticker="true" data-stats="USD"></div>
        </div>
        <div class="col-md-4">
            <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script><div class="coinmarketcap-currency-widget" data-currencyid="1765" data-base="USD" data-secondary="" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-statsticker="true" data-stats="USD"></div>
        </div>
    </div>

    <div class="row" style="margin-bottom:3em; margin-left:0; margin-right:0;">
        <div class="col-md-4">
            <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script><div class="coinmarketcap-currency-widget" data-currencyid="1839" data-base="USD" data-secondary="" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-statsticker="true" data-stats="USD"></div>
        </div>
        <div class="col-md-4">
            <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script><div class="coinmarketcap-currency-widget" data-currencyid="512" data-base="USD" data-secondary="" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-statsticker="true" data-stats="USD"></div>
        </div>
        <div class="col-md-4">
            <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script><div class="coinmarketcap-currency-widget" data-currencyid="2011" data-base="USD" data-secondary="" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-statsticker="true" data-stats="USD"></div>
        </div>
    </div>
</div><!--end Container-->
@*<div class="container" id="goldmarketwidget">
        <div class="row">
            <div class="col-md-6">
                <div id="goldmoney-market-summary" style="max-height:100%; max-width:100%;"></div>
            </div>
            <div class="col-md-6">

            </div>
        </div>

    </div>*@




@section Scripts {
  

    



    
}
